
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<div class="container">*@
<head>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<form role="form">
    <div class="panel panel-default">
        <div class="panel-body">এটি একটি বেসিক প্যানেল</div>
    </div>
    <div class="row ">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-md-2">
                    <label> Name :</label>
                </div>
                <div class="col-md-offset-4">
                    <input type="text" id="name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label> City :</label>
                </div>
                <div class="col-md-offset-4">
                    <input type="text" id="city" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="form-group">
                <div class="col-md-2">
                    <label> Age :</label>
                </div>
                <div class="col-md-offset-4">
                    <input type="text" id="age" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label> Phone :</label>
                </div>
                <div class="col-md-offset-4">
                    <input type="text" id="phone" />
                </div>
            </div>
        </div>


    </div>


</form>
@*</div>*@